.grafica-container{
min-width: 310px; height: 300px; margin: 0 auto; margin-bottom: 25px;
}
.legendLabel{
	color: dimgrey;
}


/* Time selector
--------------------------------------------------------- */
/*#timesel{
    margin-bottom: 20px;
}*/

#title{
	clear: both;
	text-align: center;

	width: 100%;
	font-weight: bold;
}
